@font-face {
    font-family: "HindVadodara";
    src: url(../fonts/HindVadodara-Regular.ttf);
}


body {
    background: linear-gradient(30deg,hsla(152, 100%, 50%, 1), hsla(186, 100%, 69%, 1));
    background-attachment: fixed;;
}

.svg-animation{
    text-align: center;
    padding-right: 100px;
}
h1{
    text-align: center;
    font-size: 50px;
    color: #262626;
    font-family: "HindVadodara";
}