@font-face {
    font-family: "HindVadodara";
    src: url(../fonts/HindVadodara-Regular.ttf);
}

@font-face {
    font-family: "Palanquin";
    src: url(../fonts/Palanquin-Regular.ttf);
}
#main_body{
    background-color: #DBE2EF;
    color: #112D4E;
}

#nav_color{
    background-color: #112D4E;
    color: #DBE2EF;
    font-family: "HindVadodara", sans-serif;
}

#title{
    font-family: "HindVadodara";
}

#header_1_color{
    color: #3F72AF;
    border-color: #3f71af3c;
    font-family: "HindVadodara", sans-serif;
    font-weight: 800;
}

#header_2_color{
    color: #3F72AF;
    border-color: #3f71af3c;
    font-family: "HindVadodara", sans-serif;
    font-weight: 800;

}


#par_1{
    font-family: "Palanquin";
    font-weight: 900;
    width: 1000px;
    background-color: #f7f8f9;
}
#par_1:hover{
    font-family: "Palanquin";
    font-weight: 900;
    width: 1000px;
    background-color: #3f97f584;
}


#par_2{
    font-family:  "Palanquin";
    font-weight: 900;
    background-color: #f7f8f9;
}

#par_2:hover{
    font-family:  "Palanquin";
    font-weight: 1200;
    background-color: #3f97f584;
}

#img_1{
    border-radius:5%;
    width: 1000px;
    height: 500px;
}


#img_2{
    border-radius: 5%;
    width: 600px;
}

#form_style{
    border-radius: 10px;
    border-color: #112D4E;
    background-color: #112D4E;
    padding-top: 50px;
}

.submit_btn{
    text-align: end;
    font-family: "Palanquin";
}
.submit_btn:hover{
    
    font-family: "Palanquin";
}