@font-face {
    font-family: "HindVadodara";
    src: url(../fonts/HindVadodara-Regular.ttf);
}

@font-face {
    font-family: "Palanquin";
    src: url(../fonts/Palanquin-Regular.ttf);
}
#main_body{
    background-color: #FFFDFD;
    color: #262626;
}

#nav_color{
    background-color: #F63C67;
    color: #FFFDFD;
    font-family: "HindVadodara";
}

#title{
    font-family: "HindVadodara";
}

#header_1_color{
    color: #262626;
    font-family: "HindVadodara";
}

#header_2_color{
    color: #262626;
    font-family: "HindVadodara";
}


#par_1{
    font-family: "Palanquin";
}


#par_2{
    font-family:  "Palanquin";
}


#img_1{
    border-radius:5%;
    width: 1000px;
    height: 500px;
}


#img_2{
    border-radius: 5%;
    width: 600px;
}

#form_style{
    color: #FFFDFD;
    background-color: #4F759B;
    padding-top: 25px;
}


.submit_btn{
    background-color: #F63C67;
    border-color: #F63C67;
    color: #FFFDFD;
    font-family: "Palanquin";
}

.submit_btn:hover{
    background-color: #F63C67;
    border-color: #F63C67;
    color: #FFFDFD;
    font-family: "Palanquin";
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
