<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/diabetic.css">
    <title>Diabetic</title>
    
</head>
<body>
    <div class="svg-animation">
        <object type="image/svg+xml" width="500px" height="500px" data="../static/img/parkinson-animate.svg"></object>
    </div>
    <h1>you are diabetec</h1>
</body>
</html>