<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Diabetes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">


</head>

<body id="main_body">

    <div class="container-fluid pb-5 m-0 ps-0 pe-0 sticky-top ">
        <nav class="navbar navbar-expand-lg bg-body-tertiary pt-0 pb-0">
            <div class="container-fluid  m-0 pt-0 " id="nav_color">
                <a class="navbar-brand" href="#">
                    <img src="../static/img/icons8-diabetes-100.png" width="30px" height="30px">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse  justify-content-center ms-3 navText" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active ms-6 me-5 text-white" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active ms-6 me-5 text-white" href="#header_3">Model</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active ms-6 me-5 text-white" href="#form_style">Classification</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container-fluid justify-content-center">
        <div class="jumbotron text-capitalize m-4 p-5 pt-2" id="header_1_color">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <h1>Diabetes examination</h1>
                    <p>This website utilizes classification techniques to determine whether the patient has diabetes or
                        not</p>
                    <p><a class="btn btn-lg mt-3 submit_btn" href="#form_style" role="button">classification</a></p>
                </div>
                <div class="col-md-3">
                    <object type="image/svg+xml" width="300px" height="300px"
                        data="../static/img/online-doctor-animate(1).svg"></object>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid ps-5 align-content-center">
        <div class="container-fluid text-center pt-5 align-content-center">
            <h1 id="header_1_color">Diabetes Risks
            </h1>
            <div class="row align-items-center justify-content-center mb-5 mt-5">
                <div class="col-3 align-content-center ms-0">
                    <object type="image/svg+xml" width="300px" height="300px"
                        data="../static/img/diabetes-animate.svg"></object>
                </div>

                <div class="col-9 align-content-start fw-medium fs-4 text-start" id="par_1">
                    Diabetes is a chronic metabolic disorder characterized by high blood sugar levels, resulting from
                    insufficient insulin production or ineffective insulin utilization. It is categorized into type 1,
                    which appears in childhood and requires lifelong insulin treatment, and type 2, associated with
                    adulthood and often linked to obesity and lifestyle factors. With a global impact, diabetes can lead
                    to various complications if not properly managed.
                </div>
            </div>
        </div>



        <div class="container-fluid mb-5 pb-5 pe-5">
            <div class="container text-center">
                <div class="row align-items-center justify-content-center mb-5">
                    <div class="col-9 fw-medium fs-4 mt-5 text-start align-items-start" id="par_2">
                        The effects of diabetes can be wide-ranging and impactful. Prolonged high blood sugar levels can
                        damage blood vessels and nerves, leading to complications such as cardiovascular issues, kidney
                        damage, eye problems, nerve damage, and an increased risk of infections and slow wound healing.
                        Diabetes can also significantly affect daily life, causing fatigue, excessive thirst, frequent
                        urination, unexplained weight loss, and other symptoms that hinder overall well-being.
                    </div>

                    <div class="col-3">
                        <object type="image/svg+xml" width="300px" height="300px"
                            data="../static/img/infertility-diagnosis-animate.svg"></object>
                    </div>

                </div>
            </div>
            <div class="row align-items-center justify-content-center mb-5 mt-5">
                <div class="col-12 align-content-center text-center ms-0">
                    <object type="image/svg+xml" width="300px" height="300px"
                        data="../static/img/diabetes-animate 2.svg"></object>
                </div>
                <div class="col-12 align-content-start mt-5 fw-medium fs-4 text-start" id="par_1">
                    Early diagnosis of diabetes is crucial for effective management and prevention of complications. In
                    recent years, advancements in technology and machine learning have facilitated the development of
                    classification models that can aid in predicting the likelihood of an individual having diabetes.
                    These models utilize various features such as age, body mass index (BMI), glucose levels, and other
                    relevant health indicators to assess the risk of diabetes. This can be done using classification
                    models like KNN, SVM and
                    others.
                </div>
            </div>
        </div>


    </div>

    <hr>

    <!-- //////////////////////////////////////////////////////////////////////////////////////// -->


    <div class="container-fluid mb-5 pb-5 border-opacity-50  border-black" id="header_3">
        <div class="container  pt-5">
            <h1 id="header_1_color">Our Model</h1>

            <div class="card container mt-5 mb-5">
                <img src="../static/img/eda1.png " class="card-img-top border-5 fw-bold  " width="100" height="500"
                    alt="3">

                <div class="card-body border-5">
                    <h5 class="card-title fw-bold">Card 1</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's
                        content.</p>
                </div>
            </div>

            <div class="card container mt-5">
                <img src="../static/img/eda2.png " class="card-img-top border-5 fw-bold  " width="100" height="500"
                    alt="3">

                <div class="card-body border-5">
                    <h5 class="card-title fw-bold">Card 2</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's
                        content.</p>
                </div>
            </div>


            <div class="card container mt-5">
                <img src="../static/img/eda3.png " class="card-img-top border-5 fw-bold  " width="100" height="500"
                    alt="3">

                <div class="card-body border-5 ">
                    <h5 class="card-title fw-bold">Card 3</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's
                        content.</p>
                </div>
            </div>
            <div class="card container mt-5">
                <img src="../static/img/eda4.png " class="card-img-top border-5 fw-bold  " width="100" height="500"
                    alt="3">

                <div class="card-body border-5">
                    <h5 class="card-title fw-bold">Card 4</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's
                        content.</p>
                </div>
            </div>
            <div class="card container mt-5">
                <img src="../static/img/eda5.png " class="card-img-top border-5 fw-bold  " width="100" height="500"
                    alt="3">

                <div class="card-body border-5">
                    <h5 class="card-title fw-bold">Card 5</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's
                        content.</p>
                </div>
            </div>
            <div class="card container mt-5">
                <img src="../static/img/eda6.png " class="card-img-top border-5 fw-bold  " width="100" height="500"
                    alt="3">

                <div class="card-body border-5">
                    <h5 class="card-title fw-bold">visulization 6</h5>
                    <p class="card-text">this is a visulization foor the relation between gulucose an cholesterol
                    </p>
                </div>
            </div>

        </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////////////// -->



    <div id="form_style">
        <h1 class="text-center mt-5 mb-5 pb-5">Diabetes classification</h1>
        <form action="/predict" method="post">
            <div class="container justify-content-center">

                <div class="row justify-content-center mt-5 mb-5">
                    <div class="col-5">
                        <input type="text" aria-label=" feature 1" class="form-control" id="input_1"
                            placeholder="cholesterol" name="cholesterol">
                    </div>
                    <div class="col-5">
                        <input type="text" aria-label=" feature 2" class="form-control" id="input_2"
                            placeholder="glucose" name="glucose">
                    </div>
                </div>

                <div class="row justify-content-center mt-5 mb-5">
                    <div class="col-5">
                        <input type="text" aria-label=" feature 3" class="form-control" id="input_3"
                            placeholder="hdl_chol" name="hdl_chol">
                    </div>
                    <div class="col-5">
                        <input type="text" aria-label=" feature 4" class="form-control" id="input_4" placeholder="age"
                            name="age">
                    </div>
                </div>
                <div class="row justify-content-center mt-5 mb-5">
                    <div class="col-5">
                        <input type="text" aria-label=" feature 5" class="form-control" id="input_5"
                            placeholder="weight" name="weight">
                    </div>
                    <div class="col-5">
                        <input type="text" aria-label=" feature 6" class="form-control" id="input_6"
                            placeholder="systolic_bp" name="systolic_bp">
                    </div>
                </div>
                <div class="row justify-content-center mt-5 mb-5">
                    <div class="col-5">
                        <input type="text" aria-label=" feature 7" class="form-control" id="input_7"
                            placeholder="diastolic_bp" name="diastolic_bp">
                    </div>
                </div>
                <div class="container-fluid justify-content-end text-end ">
                    <button class="btn mb-4 ms-4 submit_btn" type="submit" name="predict_button"
                        value="knn_predict">Predict
                        Using KNN</button>
                    <button class="btn mb-4 ms-4 submit_btn" type="submit" name="predict_button"
                        value="svm_predict">Predict
                        Using SVM</button>
                </div>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
        integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
        integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
        crossorigin="anonymous"></script>
</body>

</html>